.parentdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profileSection {
  flex: 3;
}

.activitySection {
  flex: 5;
}

.friendSection {
  flex: 4;
}

.activitydiv {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.friend-card {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  max-width: 300px;
  background-color: #fff;
}

.friend-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.friend-name {
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
